#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 60px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* ------------------ */
/*  FIN  PAGE  INDEX  */
/* ------------------ */

.photograph-header {
  display: flex;
  position: relative;
}

.photograph-header article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.photograph-header .contact_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photograph-header h1 {
  color: var(--second-color);
  margin-right: 50px;
  font-size: 4rem;
}

.photograph-header .location {
  font-size: 1.5rem;
}

.photograph-header .quote {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.photograph-header .img-container {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.6);
}

.photograph-header .rate-container {
  padding: 0.5rem 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--second-color);
  position: fixed;
  bottom: 0px;
  right: 50px;
  display: flex;
  gap: 1.5rem;
  z-index: 1;
}

.rate-container p {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.medias_section {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}

.sorting {
  height: 50px;
  font-weight: bold;
  padding: 1rem 0;
}

.medias-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  justify-content: space-between;
  gap: 1rem;
}

.media-container {
  /* border: 1px solid salmon; */
  display: flex;
  width: 29%;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  /* margin: 1rem; */
  /* background-color: rgba(182, 214, 241, 0.644); */
}

figure img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.likes {
  color: var(--prim-color);
  position: absolute;
  bottom: 6px;
  right: 0px;
  /* TODO aligner likes et figcaption */
}

figcaption {
  width: 75%;
  color: var(--prim-color);
  height: 2rem;
  padding: 6px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
