/* #contact_modal {
  display: none;
} */

* {
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 60px;
}

*:focus {
  border: 1px dotted red;
}

.contact_button,
.send_button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 16px 10px;
  /* width: 170px;
  height: 70px; */
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

main {
  margin-bottom: 3rem;
}

/* ------------------ */
/*        MODAL CONTACT      */
/* ------------------ */
.open {
  display: flex;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  /* height: 90%; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  /* 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  animation: modal-open 0.7s ease;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  /* height: 50%; */
  /* overflow: hidden; */
  align-items: baseline;
  flex-direction: row-reverse;
  /* border: 1px solid blue; */
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 48px;
  font-weight: normal;
  margin-right: 2rem;
  /* border: 1px solid purple; */
  /* text-align: center; */
  margin-bottom: 1rem;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  align-items: flex-start;
  /* border: 1px solid red; */
  /* justify-content: space-between; */
  margin-top: 4rem;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  justify-content: space-between;
  /* border: 1px solid green; */
}

form input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 4px;
}

form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  /* height: 48px; */
  border: none;
  border-radius: 4px;
  resize: none;
}

.send_button {
  padding: 16px 36px;
}

/* ------------------ */
/*  FIN  PAGE  MODAL  */
/* ------------------ */

/* ------------------ */
/*      LIGHTBOX      */
/* ------------------ */

.lightbox {
  background-color: #ffffff;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 5px;
  margin: auto;
  /* margin: auto; */
  /* 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  animation: modal-open 0.7s ease;
}

@keyframes modal-open {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.lightbox::backdrop {
  background-color: white;
}

.lightbox_previous,
.lightbox_next {
  height: 100%;
  width: 6%;
  /* border-color: 5px solid blue; */
  /* background-color: aquamarine; */
  display: flex;
  align-items: center; /*vertical */
  justify-content: center; /*horizontal */
}

.lightbox_previous img,
.lightbox_next img {
  transform: scale(70%);
  opacity: 0.7; /* filter: invert(12%) sepia(86%) saturate(3336%) hue-rotate(351deg)
    brightness(86%) contrast(89%); */
  /* loss 5.3 */
  /* margin-left: 0; */
}

/* .lightbox_previous img:hover,
.lightbox_next img:hover {
  opacity: 1;
} */

.lightbox_previous:hover .arrow,
.lightbox_next:hover .arrow {
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

/* .lightbox_next:hover .close:hover .arrow {
  opacity: 0.7 !important;
} */

.lightbox_previous img {
  transform: rotate(180deg) scale(70%);
}

.lightbox_next {
  position: relative;
}

.lightbox_next .close {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%) scale(50%);
  /* filter: brightness(0) saturate(100%) invert(12%) sepia(86%) saturate(3336%)
    hue-rotate(351deg) brightness(86%) contrast(89%); */
}

.lightbox figure {
  height: 100%;
  /* background-color: gainsboro; */
  display: flex;
  flex-direction: column;
}

.lightbox figure img,
.lightbox figure video {
  height: 94%;
  width: 100%;
  /* width: 100%; */
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  object-position: center center;

  -webkit-box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.lightbox figcaption {
  flex-basis: 30px;
}

/* ------------------ */
/*    FIN LIGHTBOX    */
/* ------------------ */

.photograph-header {
  display: flex;
  position: relative;
}

.photograph-header article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.photograph-header .contact_button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.photograph-header h1 {
  color: var(--second-color);
  margin-right: 50px;
  font-size: 4rem;
  margin-bottom: 10px;
}

.photograph-header .location {
  font-size: 1.5rem;
}

.photograph-header .quote {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.photograph-header .img-container {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.6);
}

.photograph-header .rate-container {
  padding: 0.5rem 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--second-color);
  position: fixed;
  bottom: 0px;
  right: 50px;
  display: flex;
  gap: 1.5rem;
  z-index: 1;
}

.rate-container p {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.media_section {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}

.media_section p {
  margin-right: 1rem;
}

/* SORT  */

.sorting {
  height: 30px;
  font-weight: bold;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

select {
  background-color: #901c1c;
  border-radius: 5px;
  padding: 0.25rem;
  color: white;
  font-weight: normal;
  height: 30px;

  /* 
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit; */
}

/* END SORT  */

.media-container {
  display: grid;
  /* width: 100%; */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.medium-container {
  /* border: 1px solid salmon; */
  display: flex;
  /* width: 29%; */
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  /* margin: 1rem; */
  /* background-color: rgba(182, 214, 241, 0.644); */
}

.medium-container img,
.medium-container video {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.likes {
  color: var(--prim-color);
  position: absolute;
  bottom: 6px;
  right: 0px;
  /* TODO aligner likes et figcaption */
}

.likes i {
  /* color: transparent;
  text-shadow: 0 0 3px #000; */

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--prim-color);
}

.likes i:hover {
  -webkit-text-fill-color: var(--prim-color);
  -webkit-text-stroke-width: 0px;
}

.liked {
  -webkit-text-fill-color: var(--prim-color) !important;
  -webkit-text-stroke-width: 0px !important;
  animation: liked 0.5s ease;
}

@keyframes liked {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

figcaption {
  width: 75%;
  color: var(--prim-color);
  height: 2rem;
  padding: 6px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
