@import url("photographer.css");

:root {
  --prim-color: #901c1c;
  --second-color: #d3573c;
  --faux-black-color: #525252;
  --faux-white-color: #fafafa;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--prim-color);
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: var(--second-color);
  font-size: 36px;
  white-space: nowrap;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100%;
  /* TODO bordure inférieur fondu transparent */
  /* TODO croper et zoomer dans l'image */
}

.photographer_section article p {
  margin-top: 3px;
}

.location {
  color: var(--prim-color);
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.quote {
  font-size: 0.7rem;
}

.rate {
  color: var(--faux-black-color);
  font-size: 0.7rem;
}
