@import url("photographer.css");

:root {
  --prim-color: #901c1c;
  --second-color: #d3573c;
  --faux-black-color: #525252;
  --faux-white-color: #fafafa;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.ada:focus {
  border: 2px dotted yellowgreen;
  /* border: 2px dotted #901c1c; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header h1 {
  color: var(--prim-color);
  margin-right: 50px;
  font-size: 36px;
}

.logo {
  height: 50px;
  margin-left: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* border: 2px solid green; */
}

.photographer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.photographer-link .img-container {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;

  /* border-bottom: 10px solid rgba(223, 0, 0, 0.2);
  border-right: 10px solid rgba(255, 255, 255, 0.2); */
  /* box-shadow: inset -15em -10em rgb(255, 0, 85); */
}

.photographer-link img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.2);
  /* TODO bordure inférieur fondu transparent */
  border: 1px solid red;
  /* box-shadow: inset -15em -10em rgb(255, 0, 85); */
}

/* .photographer-link .img-container::after {
  box-shadow: inset -10px -10px 0px 0 #ffffffeb;
  border-radius: 100%;
  content: "";
  display: block;
  height: 240px;
  width: 240px;
  position: relative;
  top: -224px;
  right: 18px;
} */

.photographer-link h2 {
  color: var(--second-color);
  font-size: 36px;
  white-space: nowrap;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.photographer_section article p {
  margin-top: 3px;
}
.photographer_section article a {
  border: 1px solid transparent;
}

.location {
  color: var(--prim-color);
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.quote {
  font-size: 0.7rem;
}

.rate {
  color: var(--faux-black-color);
  font-size: 0.7rem;
}
